Kk_scaffolds_final.agp
Kk_scaffolds_final.fa
Kk_scaffolds_final.fa.fai
Kk_inital_break_01.agp
Kk_inital_break_02.agp
Kk_inital_break_03.agp
Kk_inital_break_04.agp
Kk_r01.agp
Kk_r01_break.agp
Kk_r02.agp
Kk_r02_break.agp
Kk_r03.agp
Kk_r03_break.agp
Kk_r04.agp
Kk_r04_break.agp
Kk_r05.agp
Kk_r05_break.agp
Kk_r06.agp
Kk_r06_break.agp
Kk_r07.agp
Kk_r07_break.agp
Kk_r08.agp
Kk_r08_break.agp
Kk.bin
Kc_scaffolds_final.agp
Kc_scaffolds_final.fa
Kc_scaffolds_final.fa.fai
Kc_inital_break_01.agp
Kc_inital_break_02.agp
Kc_inital_break_03.agp
Kc_inital_break_04.agp
Kc_r01.agp
Kc_r01_break.agp
Kc_r02.agp
Kc_r02_break.agp
Kc_r03.agp
Kc_r03_break.agp
Kc_r04.agp
Kc_r04_break.agp
Kc_r05.agp
Kc_r05_break.agp
Kc_r06.agp
Kc_r06_break.agp
Kc_r07.agp
Kc_r07_break.agp
Kc_r08.agp
Kc_r08_break.agp
Kc.bin
