0-extract/
1-dorado/call.sh
1-dorado/Kc.5mCG-5hmCG.10.bam
1-dorado/Kc.5mCG-5hmCG.11.bam
1-dorado/Kc.5mCG-5hmCG.12.bam
1-dorado/Kc.5mCG-5hmCG.13.bam
1-dorado/Kc.5mCG-5hmCG.14.bam
1-dorado/Kc.5mCG-5hmCG.15.bam
1-dorado/Kc.5mCG-5hmCG.16.bam
1-dorado/Kc.5mCG-5hmCG.17.bam
1-dorado/Kc.5mCG-5hmCG.18.bam
1-dorado/Kc.5mCG-5hmCG.19.bam
1-dorado/Kc.5mCG-5hmCG.1.bam
1-dorado/Kc.5mCG-5hmCG.20.bam
1-dorado/Kc.5mCG-5hmCG.21.bam
1-dorado/Kc.5mCG-5hmCG.22.bam
1-dorado/Kc.5mCG-5hmCG.23.bam
1-dorado/Kc.5mCG-5hmCG.24.bam
1-dorado/Kc.5mCG-5hmCG.25.bam
1-dorado/Kc.5mCG-5hmCG.26.bam
1-dorado/Kc.5mCG-5hmCG.27.bam
1-dorado/Kc.5mCG-5hmCG.28.bam
1-dorado/Kc.5mCG-5hmCG.29.bam
1-dorado/Kc.5mCG-5hmCG.2.bam
1-dorado/Kc.5mCG-5hmCG.30.bam
1-dorado/Kc.5mCG-5hmCG.31.bam
1-dorado/Kc.5mCG-5hmCG.32.bam
1-dorado/Kc.5mCG-5hmCG.33.bam
1-dorado/Kc.5mCG-5hmCG.34.bam
1-dorado/Kc.5mCG-5hmCG.35.bam
1-dorado/Kc.5mCG-5hmCG.36.bam
1-dorado/Kc.5mCG-5hmCG.37.bam
1-dorado/Kc.5mCG-5hmCG.38.bam
1-dorado/Kc.5mCG-5hmCG.39.bam
1-dorado/Kc.5mCG-5hmCG.3.bam
1-dorado/Kc.5mCG-5hmCG.40.bam
1-dorado/Kc.5mCG-5hmCG.41.bam
1-dorado/Kc.5mCG-5hmCG.42.bam
1-dorado/Kc.5mCG-5hmCG.43.bam
1-dorado/Kc.5mCG-5hmCG.44.bam
1-dorado/Kc.5mCG-5hmCG.45.bam
1-dorado/Kc.5mCG-5hmCG.46.bam
1-dorado/Kc.5mCG-5hmCG.47.bam
1-dorado/Kc.5mCG-5hmCG.48.bam
1-dorado/Kc.5mCG-5hmCG.49.bam
1-dorado/Kc.5mCG-5hmCG.4.bam
1-dorado/Kc.5mCG-5hmCG.50.bam
1-dorado/Kc.5mCG-5hmCG.51.bam
1-dorado/Kc.5mCG-5hmCG.52.bam
1-dorado/Kc.5mCG-5hmCG.53.bam
1-dorado/Kc.5mCG-5hmCG.54.bam
1-dorado/Kc.5mCG-5hmCG.55.bam
1-dorado/Kc.5mCG-5hmCG.56.bam
1-dorado/Kc.5mCG-5hmCG.57.bam
1-dorado/Kc.5mCG-5hmCG.58.bam
1-dorado/Kc.5mCG-5hmCG.59.bam
1-dorado/Kc.5mCG-5hmCG.5.bam
1-dorado/Kc.5mCG-5hmCG.60.bam
1-dorado/Kc.5mCG-5hmCG.61.bam
1-dorado/Kc.5mCG-5hmCG.62.bam
1-dorado/Kc.5mCG-5hmCG.63.bam
1-dorado/Kc.5mCG-5hmCG.64.bam
1-dorado/Kc.5mCG-5hmCG.65.bam
1-dorado/Kc.5mCG-5hmCG.66.bam
1-dorado/Kc.5mCG-5hmCG.67.bam
1-dorado/Kc.5mCG-5hmCG.68.bam
1-dorado/Kc.5mCG-5hmCG.69.bam
1-dorado/Kc.5mCG-5hmCG.6.bam
1-dorado/Kc.5mCG-5hmCG.70.bam
1-dorado/Kc.5mCG-5hmCG.71.bam
1-dorado/Kc.5mCG-5hmCG.72.bam
1-dorado/Kc.5mCG-5hmCG.73.bam
1-dorado/Kc.5mCG-5hmCG.74.bam
1-dorado/Kc.5mCG-5hmCG.75.bam
1-dorado/Kc.5mCG-5hmCG.76.bam
1-dorado/Kc.5mCG-5hmCG.77.bam
1-dorado/Kc.5mCG-5hmCG.78.bam
1-dorado/Kc.5mCG-5hmCG.79.bam
1-dorado/Kc.5mCG-5hmCG.7.bam
1-dorado/Kc.5mCG-5hmCG.80.bam
1-dorado/Kc.5mCG-5hmCG.81.bam
1-dorado/Kc.5mCG-5hmCG.82.bam
1-dorado/Kc.5mCG-5hmCG.83.bam
1-dorado/Kc.5mCG-5hmCG.84.bam
1-dorado/Kc.5mCG-5hmCG.85.bam
1-dorado/Kc.5mCG-5hmCG.86.bam
1-dorado/Kc.5mCG-5hmCG.87.bam
1-dorado/Kc.5mCG-5hmCG.88.bam
1-dorado/Kc.5mCG-5hmCG.89.bam
1-dorado/Kc.5mCG-5hmCG.8.bam
1-dorado/Kc.5mCG-5hmCG.90.bam
1-dorado/Kc.5mCG-5hmCG.9.bam
1-dorado/Kd.5mCG-5hmCG.10.bam
1-dorado/Kd.5mCG-5hmCG.11.bam
1-dorado/Kd.5mCG-5hmCG.12.bam
1-dorado/Kd.5mCG-5hmCG.13.bam
1-dorado/Kd.5mCG-5hmCG.14.bam
1-dorado/Kd.5mCG-5hmCG.15.bam
1-dorado/Kd.5mCG-5hmCG.16.bam
1-dorado/Kd.5mCG-5hmCG.17.bam
1-dorado/Kd.5mCG-5hmCG.18.bam
1-dorado/Kd.5mCG-5hmCG.19.bam
1-dorado/Kd.5mCG-5hmCG.1.bam
1-dorado/Kd.5mCG-5hmCG.20.bam
1-dorado/Kd.5mCG-5hmCG.21.bam
1-dorado/Kd.5mCG-5hmCG.22.bam
1-dorado/Kd.5mCG-5hmCG.23.bam
1-dorado/Kd.5mCG-5hmCG.24.bam
1-dorado/Kd.5mCG-5hmCG.25.bam
1-dorado/Kd.5mCG-5hmCG.26.bam
1-dorado/Kd.5mCG-5hmCG.27.bam
1-dorado/Kd.5mCG-5hmCG.28.bam
1-dorado/Kd.5mCG-5hmCG.29.bam
1-dorado/Kd.5mCG-5hmCG.2.bam
1-dorado/Kd.5mCG-5hmCG.30.bam
1-dorado/Kd.5mCG-5hmCG.31.bam
1-dorado/Kd.5mCG-5hmCG.32.bam
1-dorado/Kd.5mCG-5hmCG.33.bam
1-dorado/Kd.5mCG-5hmCG.34.bam
1-dorado/Kd.5mCG-5hmCG.35.bam
1-dorado/Kd.5mCG-5hmCG.36.bam
1-dorado/Kd.5mCG-5hmCG.37.bam
1-dorado/Kd.5mCG-5hmCG.38.bam
1-dorado/Kd.5mCG-5hmCG.39.bam
1-dorado/Kd.5mCG-5hmCG.3.bam
1-dorado/Kd.5mCG-5hmCG.40.bam
1-dorado/Kd.5mCG-5hmCG.41.bam
1-dorado/Kd.5mCG-5hmCG.42.bam
1-dorado/Kd.5mCG-5hmCG.43.bam
1-dorado/Kd.5mCG-5hmCG.44.bam
1-dorado/Kd.5mCG-5hmCG.45.bam
1-dorado/Kd.5mCG-5hmCG.46.bam
1-dorado/Kd.5mCG-5hmCG.47.bam
1-dorado/Kd.5mCG-5hmCG.48.bam
1-dorado/Kd.5mCG-5hmCG.49.bam
1-dorado/Kd.5mCG-5hmCG.4.bam
1-dorado/Kd.5mCG-5hmCG.50.bam
1-dorado/Kd.5mCG-5hmCG.51.bam
1-dorado/Kd.5mCG-5hmCG.52.bam
1-dorado/Kd.5mCG-5hmCG.53.bam
1-dorado/Kd.5mCG-5hmCG.54.bam
1-dorado/Kd.5mCG-5hmCG.55.bam
1-dorado/Kd.5mCG-5hmCG.56.bam
1-dorado/Kd.5mCG-5hmCG.57.bam
1-dorado/Kd.5mCG-5hmCG.58.bam
1-dorado/Kd.5mCG-5hmCG.59.bam
1-dorado/Kd.5mCG-5hmCG.5.bam
1-dorado/Kd.5mCG-5hmCG.60.bam
1-dorado/Kd.5mCG-5hmCG.61.bam
1-dorado/Kd.5mCG-5hmCG.62.bam
1-dorado/Kd.5mCG-5hmCG.63.bam
1-dorado/Kd.5mCG-5hmCG.64.bam
1-dorado/Kd.5mCG-5hmCG.65.bam
1-dorado/Kd.5mCG-5hmCG.66.bam
1-dorado/Kd.5mCG-5hmCG.67.bam
1-dorado/Kd.5mCG-5hmCG.68.bam
1-dorado/Kd.5mCG-5hmCG.69.bam
1-dorado/Kd.5mCG-5hmCG.6.bam
1-dorado/Kd.5mCG-5hmCG.70.bam
1-dorado/Kd.5mCG-5hmCG.71.bam
1-dorado/Kd.5mCG-5hmCG.72.bam
1-dorado/Kd.5mCG-5hmCG.73.bam
1-dorado/Kd.5mCG-5hmCG.74.bam
1-dorado/Kd.5mCG-5hmCG.75.bam
1-dorado/Kd.5mCG-5hmCG.76.bam
1-dorado/Kd.5mCG-5hmCG.77.bam
1-dorado/Kd.5mCG-5hmCG.78.bam
1-dorado/Kd.5mCG-5hmCG.79.bam
1-dorado/Kd.5mCG-5hmCG.7.bam
1-dorado/Kd.5mCG-5hmCG.80.bam
1-dorado/Kd.5mCG-5hmCG.81.bam
1-dorado/Kd.5mCG-5hmCG.82.bam
1-dorado/Kd.5mCG-5hmCG.83.bam
1-dorado/Kd.5mCG-5hmCG.84.bam
1-dorado/Kd.5mCG-5hmCG.85.bam
1-dorado/Kd.5mCG-5hmCG.86.bam
1-dorado/Kd.5mCG-5hmCG.87.bam
1-dorado/Kd.5mCG-5hmCG.88.bam
1-dorado/Kd.5mCG-5hmCG.89.bam
1-dorado/Kd.5mCG-5hmCG.8.bam
1-dorado/Kd.5mCG-5hmCG.90.bam
1-dorado/Kd.5mCG-5hmCG.9.bam
1-dorado/Kk.5mCG-5hmCG.10.bam
1-dorado/Kk.5mCG-5hmCG.11.bam
1-dorado/Kk.5mCG-5hmCG.12.bam
1-dorado/Kk.5mCG-5hmCG.13.bam
1-dorado/Kk.5mCG-5hmCG.14.bam
1-dorado/Kk.5mCG-5hmCG.15.bam
1-dorado/Kk.5mCG-5hmCG.16.bam
1-dorado/Kk.5mCG-5hmCG.17.bam
1-dorado/Kk.5mCG-5hmCG.18.bam
1-dorado/Kk.5mCG-5hmCG.19.bam
1-dorado/Kk.5mCG-5hmCG.1.bam
1-dorado/Kk.5mCG-5hmCG.20.bam
1-dorado/Kk.5mCG-5hmCG.21.bam
1-dorado/Kk.5mCG-5hmCG.22.bam
1-dorado/Kk.5mCG-5hmCG.23.bam
1-dorado/Kk.5mCG-5hmCG.24.bam
1-dorado/Kk.5mCG-5hmCG.25.bam
1-dorado/Kk.5mCG-5hmCG.26.bam
1-dorado/Kk.5mCG-5hmCG.27.bam
1-dorado/Kk.5mCG-5hmCG.28.bam
1-dorado/Kk.5mCG-5hmCG.29.bam
1-dorado/Kk.5mCG-5hmCG.2.bam
1-dorado/Kk.5mCG-5hmCG.30.bam
1-dorado/Kk.5mCG-5hmCG.31.bam
1-dorado/Kk.5mCG-5hmCG.32.bam
1-dorado/Kk.5mCG-5hmCG.33.bam
1-dorado/Kk.5mCG-5hmCG.34.bam
1-dorado/Kk.5mCG-5hmCG.35.bam
1-dorado/Kk.5mCG-5hmCG.36.bam
1-dorado/Kk.5mCG-5hmCG.37.bam
1-dorado/Kk.5mCG-5hmCG.38.bam
1-dorado/Kk.5mCG-5hmCG.39.bam
1-dorado/Kk.5mCG-5hmCG.3.bam
1-dorado/Kk.5mCG-5hmCG.40.bam
1-dorado/Kk.5mCG-5hmCG.41.bam
1-dorado/Kk.5mCG-5hmCG.42.bam
1-dorado/Kk.5mCG-5hmCG.43.bam
1-dorado/Kk.5mCG-5hmCG.44.bam
1-dorado/Kk.5mCG-5hmCG.45.bam
1-dorado/Kk.5mCG-5hmCG.46.bam
1-dorado/Kk.5mCG-5hmCG.47.bam
1-dorado/Kk.5mCG-5hmCG.48.bam
1-dorado/Kk.5mCG-5hmCG.49.bam
1-dorado/Kk.5mCG-5hmCG.4.bam
1-dorado/Kk.5mCG-5hmCG.50.bam
1-dorado/Kk.5mCG-5hmCG.51.bam
1-dorado/Kk.5mCG-5hmCG.52.bam
1-dorado/Kk.5mCG-5hmCG.53.bam
1-dorado/Kk.5mCG-5hmCG.54.bam
1-dorado/Kk.5mCG-5hmCG.55.bam
1-dorado/Kk.5mCG-5hmCG.56.bam
1-dorado/Kk.5mCG-5hmCG.57.bam
1-dorado/Kk.5mCG-5hmCG.58.bam
1-dorado/Kk.5mCG-5hmCG.59.bam
1-dorado/Kk.5mCG-5hmCG.5.bam
1-dorado/Kk.5mCG-5hmCG.60.bam
1-dorado/Kk.5mCG-5hmCG.61.bam
1-dorado/Kk.5mCG-5hmCG.62.bam
1-dorado/Kk.5mCG-5hmCG.63.bam
1-dorado/Kk.5mCG-5hmCG.64.bam
1-dorado/Kk.5mCG-5hmCG.65.bam
1-dorado/Kk.5mCG-5hmCG.66.bam
1-dorado/Kk.5mCG-5hmCG.67.bam
1-dorado/Kk.5mCG-5hmCG.68.bam
1-dorado/Kk.5mCG-5hmCG.69.bam
1-dorado/Kk.5mCG-5hmCG.6.bam
1-dorado/Kk.5mCG-5hmCG.70.bam
1-dorado/Kk.5mCG-5hmCG.71.bam
1-dorado/Kk.5mCG-5hmCG.72.bam
1-dorado/Kk.5mCG-5hmCG.73.bam
1-dorado/Kk.5mCG-5hmCG.74.bam
1-dorado/Kk.5mCG-5hmCG.75.bam
1-dorado/Kk.5mCG-5hmCG.76.bam
1-dorado/Kk.5mCG-5hmCG.77.bam
1-dorado/Kk.5mCG-5hmCG.78.bam
1-dorado/Kk.5mCG-5hmCG.79.bam
1-dorado/Kk.5mCG-5hmCG.7.bam
1-dorado/Kk.5mCG-5hmCG.80.bam
1-dorado/Kk.5mCG-5hmCG.81.bam
1-dorado/Kk.5mCG-5hmCG.82.bam
1-dorado/Kk.5mCG-5hmCG.83.bam
1-dorado/Kk.5mCG-5hmCG.84.bam
1-dorado/Kk.5mCG-5hmCG.85.bam
1-dorado/Kk.5mCG-5hmCG.86.bam
1-dorado/Kk.5mCG-5hmCG.87.bam
1-dorado/Kk.5mCG-5hmCG.88.bam
1-dorado/Kk.5mCG-5hmCG.89.bam
1-dorado/Kk.5mCG-5hmCG.8.bam
1-dorado/Kk.5mCG-5hmCG.90.bam
1-dorado/Kk.5mCG-5hmCG.9.bam
2-combine/run.sh
3-modkit/run.sh
