Kc_3148.vcf.gz.csi
Kc_3148.vcf.gz
Kc_4372.vcf.gz.csi
Kc_4372.vcf.gz
Kc_4373.vcf.gz.csi
Kc_4373.vcf.gz
Kc_A_1.vcf.gz.csi
Kc_A_1.vcf.gz
Kc_A_10.vcf.gz.csi
Kc_A_10.vcf.gz
Kc_A_11.vcf.gz.csi
Kc_A_11.vcf.gz
Kc_A_1_1.vcf.gz.csi
Kc_A_1_1.vcf.gz
Kc_A_2.vcf.gz.csi
Kc_A_2.vcf.gz
Kc_A_3.vcf.gz.csi
Kc_A_3.vcf.gz
Kc_A_4.vcf.gz.csi
Kc_A_4.vcf.gz
Kc_A_5.vcf.gz.csi
Kc_A_5.vcf.gz
Kc_A_6.vcf.gz.csi
Kc_A_6.vcf.gz
Kc_A_7.vcf.gz.csi
Kc_A_7.vcf.gz
Kc_A_8.vcf.gz.csi
Kc_A_8.vcf.gz
Kc_A_9.vcf.gz.csi
Kc_A_9.vcf.gz
Kc_F1.vcf.gz.csi
Kc_F1.vcf.gz
Kc_K_20.vcf.gz.csi
Kc_K_20.vcf.gz
Kd_3041.vcf.gz.csi
Kd_3041.vcf.gz
Kd_3042.vcf.gz.csi
Kd_3042.vcf.gz
Kd_3043.vcf.gz.csi
Kd_3043.vcf.gz
Kd_JW.vcf.gz.csi
Kd_JW.vcf.gz
Kd_JW_ng.vcf.gz.csi
Kd_JW_ng.vcf.gz
Kk_19S8.vcf.gz.csi
Kk_19S8.vcf.gz
Kk_3151.vcf.gz.csi
Kk_3151.vcf.gz
Kk_3152.vcf.gz.csi
Kk_3152.vcf.gz
Kk_3153.vcf.gz.csi
Kk_3153.vcf.gz
Kk_3154.vcf.gz.csi
Kk_3154.vcf.gz
Kk_3155.vcf.gz.csi
Kk_3155.vcf.gz
Kk_3156.vcf.gz.csi
Kk_3156.vcf.gz
Kk_3157.vcf.gz.csi
Kk_3157.vcf.gz
Kk_3158.vcf.gz.csi
Kk_3158.vcf.gz
Kk_3159.vcf.gz.csi
Kk_3159.vcf.gz
Kk_3160.vcf.gz.csi
Kk_3160.vcf.gz
Kk_3161.vcf.gz.csi
Kk_3161.vcf.gz
Kk_3162.vcf.gz.csi
Kk_3162.vcf.gz
Kk_3163.vcf.gz.csi
Kk_3163.vcf.gz
Kk_3164.vcf.gz.csi
Kk_3164.vcf.gz
Kk_3165.vcf.gz.csi
Kk_3165.vcf.gz
Kk_3166.vcf.gz.csi
Kk_3166.vcf.gz
Kk_3167.vcf.gz.csi
Kk_3167.vcf.gz
Kk_3168.vcf.gz.csi
Kk_3168.vcf.gz
Kk_3169.vcf.gz.csi
Kk_3169.vcf.gz
Kk_3170.vcf.gz.csi
Kk_3170.vcf.gz
Kk_3171.vcf.gz.csi
Kk_3171.vcf.gz
Kk_3172.vcf.gz.csi
Kk_3172.vcf.gz
Kk_3173.vcf.gz.csi
Kk_3173.vcf.gz
Kk_3174.vcf.gz.csi
Kk_3174.vcf.gz
Kk_3175.vcf.gz.csi
Kk_3175.vcf.gz
Kk_3176.vcf.gz.csi
Kk_3176.vcf.gz
Kk_3177.vcf.gz.csi
Kk_3177.vcf.gz
Kk_3178.vcf.gz.csi
Kk_3178.vcf.gz
Kk_3179.vcf.gz.csi
Kk_3179.vcf.gz
Kk_3180.vcf.gz.csi
Kk_3180.vcf.gz
Kk_3181.vcf.gz.csi
Kk_3181.vcf.gz
Kk_3182.vcf.gz.csi
Kk_3182.vcf.gz
Kk_3183.vcf.gz.csi
Kk_3183.vcf.gz
Kk_3184.vcf.gz.csi
Kk_3184.vcf.gz
Kk_3185.vcf.gz.csi
Kk_3185.vcf.gz
SRR6195040.vcf.gz.csi
SRR6195040.vcf.gz
all.1.vcf.gz
all.10.vcf.gz
all.11.vcf.gz
all.12.vcf.gz
all.13.vcf.gz
all.14.vcf.gz
all.15.vcf.gz
all.16.vcf.gz
all.17.vcf.gz
all.18.vcf.gz
all.19.vcf.gz
all.2.vcf.gz
all.20.vcf.gz
all.21.vcf.gz
all.22.vcf.gz
all.23.vcf.gz
all.24.vcf.gz
all.25.vcf.gz
all.26.vcf.gz
all.27.vcf.gz
all.28.vcf.gz
all.29.vcf.gz
all.3.vcf.gz
all.30.vcf.gz
all.31.vcf.gz
all.32.vcf.gz
all.33.vcf.gz
all.34.vcf.gz
all.35.vcf.gz
all.36.vcf.gz
all.37.vcf.gz
all.38.vcf.gz
all.39.vcf.gz
all.4.vcf.gz
all.40.vcf.gz
all.41.vcf.gz
all.42.vcf.gz
all.43.vcf.gz
all.44.vcf.gz
all.45.vcf.gz
all.46.vcf.gz
all.47.vcf.gz
all.48.vcf.gz
all.49.vcf.gz
all.5.vcf.gz
all.50.vcf.gz
all.6.vcf.gz
all.7.vcf.gz
all.8.vcf.gz
all.9.vcf.gz
1-call.indv.sh*
1-call.sh*
2-merge.sh*
2-merged.indv.gds
2-merged.indv.pca.Rdata
2-merged.indv.vcf
3-pca.indv.R*
3-pca.joint.R*
