Kc.5k-window-2.5k-slide.bed
Kc.hic.bedcov
Kc.meth.bedcov
Kc.trf.bed
Kd.5k-window-2.5k-slide.bed
Kd.hic.bedcov
Kd.meth.bedcov
Kd.trf.bed
Kk.5k-window-2.5k-slide.bed
Kk.hic.bedcov
Kk.meth.bedcov
Kk.trf.bed
1-get-cov.sh
