Kc/ragtag.scaffold.stats
Kk/ragtag.scaffold.stats
Kc/ragtag.scaffold.agp
Kk/ragtag.scaffold.agp
Kc/ragtag.scaffold.fasta
Kk/ragtag.scaffold.fasta
Kc/ragtag.scaffold.confidence.txt
Kk/ragtag.scaffold.confidence.txt
Kc/ragtag.scaffold.err
Kk/ragtag.scaffold.err
Kc/ragtag.scaffold.asm.paf
Kk/ragtag.scaffold.asm.paf
Kc/ragtag.scaffold.asm.paf.log
Kk/ragtag.scaffold.asm.paf.log
