2-canu.sh
canu.seqStore.sh
clean.fq.gz
trim.sh
combined.fq
combine.sh
run.sh

0-ref/A1.fa
0-ref/AD1.fa
0-ref/D5.fa
0-ref/download.sh
0-ref/kirkii.fa

apps/samblaster-v.0.1.26/

# Kc Medaka tmp files
kc/1-contigs/hifiasm/hifiasm.bp.p_ctg.fatest.p_ctg.fa.fai
kc/1-contigs/hifiasm/hifiasm.bp.p_ctg.fatest.p_ctg.fa.map-ont.mmi
kc/2-polish/calls_to_draft.bam
kc/2-polish/calls_to_draft.bam.bai
kc/2-polish/consensus.fasta.amb
kc/2-polish/consensus.fasta.ann
kc/2-polish/consensus.fasta.bwt
kc/2-polish/consensus.fasta.fai
kc/2-polish/consensus.fasta.gaps_in_draft_coords.bed
kc/2-polish/consensus.fasta.pac
kc/2-polish/consensus.fasta.sa
kc/2-polish/consensus_probs.hdf
kc/2-polish/medaka.sh

# Kk Medaka tmp files
kk/1-contigs/wtdbg2/dbg.raw.fa.fai
kk/1-contigs/wtdbg2/dbg.raw.fa.map-ont.mmi
kk/2-polish/calls_to_draft.bam
kk/2-polish/calls_to_draft.bam.bai
kk/2-polish/consensus.fasta.amb
kk/2-polish/consensus.fasta.ann
kk/2-polish/consensus.fasta.bwt
kk/2-polish/consensus.fasta.fai
kk/2-polish/consensus.fasta.gaps_in_draft_coords.bed
kk/2-polish/consensus.fasta.pac
kk/2-polish/consensus.fasta.sa
kk/2-polish/consensus_probs.hdf
kk/2-polish/medaka.sh
Kokia_cookei_C69/2-polish/consensus.fasta
Kokia_cookei_C69/2-polish/consensus.fasta.fai
Kokia_kauaiensis_S9/2-polish/consensus.fasta
Kokia_kauaiensis_S9/2-polish/consensus.fasta.fai
1-assemble/kk/1-combine.sh
5-curate/Kc.fa
5-curate/Kd.fa
5-curate/Kk.fa
6-ncbi/first/Kc.fa
6-ncbi/first/Kc.len.new
6-ncbi/first/Kc.len.old
6-ncbi/first/Kc.remaining.txt
6-ncbi/first/Kc.report
6-ncbi/first/Kd.fa.gz
6-ncbi/first/Kd.len.new
6-ncbi/first/Kd.len.old
6-ncbi/first/Kd.remaining.txt
6-ncbi/first/Kd.report
6-ncbi/first/Kk.fa
6-ncbi/first/Kk.len.new
6-ncbi/first/Kk.len.old
6-ncbi/first/Kk.remaining.txt
6-ncbi/first/Kk.report
*.fa.fai
6-ncbi/remove.contam.pl
6-ncbi/second/Kc.fa.gz
6-ncbi/second/Kc.len
6-ncbi/second/Kc.report
6-ncbi/second/Kk.fa.gz
6-ncbi/second/Kk.len
6-ncbi/second/Kk.report
6-ncbi/seq-lengh.pl
