Gk.pep.10.log
Gk.pep.10.tsv
Gk.pep.10.xml
Gk.pep.11.log
Gk.pep.11.tsv
Gk.pep.11.xml
Gk.pep.12.log
Gk.pep.12.tsv
Gk.pep.12.xml
Gk.pep.13.log
Gk.pep.13.tsv
Gk.pep.13.xml
Gk.pep.14.log
Gk.pep.14.tsv
Gk.pep.14.xml
Gk.pep.15.log
Gk.pep.15.tsv
Gk.pep.15.xml
Gk.pep.16.log
Gk.pep.16.tsv
Gk.pep.16.xml
Gk.pep.17.log
Gk.pep.17.tsv
Gk.pep.17.xml
Gk.pep.18.log
Gk.pep.18.tsv
Gk.pep.18.xml
Gk.pep.19.log
Gk.pep.19.tsv
Gk.pep.19.xml
Gk.pep.1.log
Gk.pep.1.tsv
Gk.pep.1.xml
Gk.pep.20.log
Gk.pep.20.tsv
Gk.pep.20.xml
Gk.pep.2.log
Gk.pep.2.tsv
Gk.pep.2.xml
Gk.pep.3.log
Gk.pep.3.tsv
Gk.pep.3.xml
Gk.pep.4.log
Gk.pep.4.tsv
Gk.pep.4.xml
Gk.pep.5.log
Gk.pep.5.tsv
Gk.pep.5.xml
Gk.pep.6.log
Gk.pep.6.tsv
Gk.pep.6.xml
Gk.pep.7.log
Gk.pep.7.tsv
Gk.pep.7.xml
Gk.pep.8.log
Gk.pep.8.tsv
Gk.pep.8.xml
Gk.pep.9.log
Gk.pep.9.tsv
Gk.pep.9.xml
Kc.pep.10.log
Kc.pep.10.tsv
Kc.pep.10.xml
Kc.pep.11.log
Kc.pep.11.tsv
Kc.pep.11.xml
Kc.pep.12.log
Kc.pep.12.tsv
Kc.pep.12.xml
Kc.pep.13.log
Kc.pep.13.tsv
Kc.pep.13.xml
Kc.pep.14.log
Kc.pep.14.tsv
Kc.pep.14.xml
Kc.pep.15.log
Kc.pep.15.tsv
Kc.pep.15.xml
Kc.pep.16.log
Kc.pep.16.tsv
Kc.pep.16.xml
Kc.pep.17.log
Kc.pep.17.tsv
Kc.pep.17.xml
Kc.pep.18.log
Kc.pep.18.tsv
Kc.pep.18.xml
Kc.pep.19.log
Kc.pep.19.tsv
Kc.pep.19.xml
Kc.pep.1.log
Kc.pep.1.tsv
Kc.pep.1.xml
Kc.pep.20.log
Kc.pep.20.tsv
Kc.pep.20.xml
Kc.pep.2.log
Kc.pep.2.tsv
Kc.pep.2.xml
Kc.pep.3.log
Kc.pep.3.tsv
Kc.pep.3.xml
Kc.pep.4.log
Kc.pep.4.tsv
Kc.pep.4.xml
Kc.pep.5.log
Kc.pep.5.tsv
Kc.pep.5.xml
Kc.pep.6.log
Kc.pep.6.tsv
Kc.pep.6.xml
Kc.pep.7.log
Kc.pep.7.tsv
Kc.pep.7.xml
Kc.pep.8.log
Kc.pep.8.tsv
Kc.pep.8.xml
Kc.pep.9.log
Kc.pep.9.tsv
Kc.pep.9.xml
Kd.pep.10.log
Kd.pep.10.tsv
Kd.pep.10.xml
Kd.pep.11.log
Kd.pep.11.tsv
Kd.pep.11.xml
Kd.pep.12.log
Kd.pep.12.tsv
Kd.pep.12.xml
Kd.pep.13.log
Kd.pep.13.tsv
Kd.pep.13.xml
Kd.pep.14.log
Kd.pep.14.tsv
Kd.pep.14.xml
Kd.pep.15.log
Kd.pep.15.tsv
Kd.pep.15.xml
Kd.pep.16.log
Kd.pep.16.tsv
Kd.pep.16.xml
Kd.pep.17.log
Kd.pep.17.tsv
Kd.pep.17.xml
Kd.pep.18.log
Kd.pep.18.tsv
Kd.pep.18.xml
Kd.pep.19.log
Kd.pep.19.tsv
Kd.pep.19.xml
Kd.pep.1.log
Kd.pep.1.tsv
Kd.pep.1.xml
Kd.pep.20.log
Kd.pep.20.tsv
Kd.pep.20.xml
Kd.pep.2.log
Kd.pep.2.tsv
Kd.pep.2.xml
Kd.pep.3.log
Kd.pep.3.tsv
Kd.pep.3.xml
Kd.pep.4.log
Kd.pep.4.tsv
Kd.pep.4.xml
Kd.pep.5.log
Kd.pep.5.tsv
Kd.pep.5.xml
Kd.pep.6.log
Kd.pep.6.tsv
Kd.pep.6.xml
Kd.pep.7.log
Kd.pep.7.tsv
Kd.pep.7.xml
Kd.pep.8.log
Kd.pep.8.tsv
Kd.pep.8.xml
Kd.pep.9.log
Kd.pep.9.tsv
Kd.pep.9.xml
Kk.pep.10.log
Kk.pep.10.tsv
Kk.pep.10.xml
Kk.pep.11.log
Kk.pep.11.tsv
Kk.pep.11.xml
Kk.pep.12.log
Kk.pep.12.tsv
Kk.pep.12.xml
Kk.pep.13.log
Kk.pep.13.tsv
Kk.pep.13.xml
Kk.pep.14.log
Kk.pep.14.tsv
Kk.pep.14.xml
Kk.pep.15.log
Kk.pep.15.tsv
Kk.pep.15.xml
Kk.pep.16.log
Kk.pep.16.tsv
Kk.pep.16.xml
Kk.pep.17.log
Kk.pep.17.tsv
Kk.pep.17.xml
Kk.pep.18.log
Kk.pep.18.tsv
Kk.pep.18.xml
Kk.pep.19.log
Kk.pep.19.tsv
Kk.pep.19.xml
Kk.pep.1.log
Kk.pep.1.tsv
Kk.pep.1.xml
Kk.pep.20.log
Kk.pep.20.tsv
Kk.pep.20.xml
Kk.pep.2.log
Kk.pep.2.tsv
Kk.pep.2.xml
Kk.pep.3.log
Kk.pep.3.tsv
Kk.pep.3.xml
Kk.pep.4.log
Kk.pep.4.tsv
Kk.pep.4.xml
Kk.pep.5.log
Kk.pep.5.tsv
Kk.pep.5.xml
Kk.pep.6.log
Kk.pep.6.tsv
Kk.pep.6.xml
Kk.pep.7.log
Kk.pep.7.tsv
Kk.pep.7.xml
Kk.pep.8.log
Kk.pep.8.tsv
Kk.pep.8.xml
Kk.pep.9.log
Kk.pep.9.tsv
Kk.pep.9.xml
Gk.pep.fa
Gk.pep.fa.fai
Gk.pep.tsv
Kc.pep.fa
Kc.pep.fa.fai
Kc.pep.tsv
Kd.pep.fa
Kd.pep.fa.fai
Kd.pep.tsv
Kk.pep.fa
Kk.pep.fa.fai
Kk.pep.tsv
peptides.sh
run.sh
