0-db/Kc.amb
0-db/Kc.ann
0-db/Kc.bwt
0-db/Kc.pac
0-db/Kc.sa
0-db/Kk.amb
0-db/Kk.ann
0-db/Kk.bwt
0-db/Kk.pac
0-db/Kk.sa
0-db/run.sh
1-bwa/Kc.bam.bai
1-bwa/Kk.bam.bai
Kc.fa.fai
Kk.fa.fai
3-split/get-regions.sh
3-split/Kc.scaff1.regions
3-split/Kc.scaff2.regions
3-split/Kc.scaff7.regions
3-split/Kk.scaff1.regions
4-compile.sh
