*.sh
*.R
*.py
*.amb
*.ann
*.bwt
*.fai
*.pac
*.sa
*.paf
*.tsv
*.log
*.mmi
*.json
*.gfa
*.gv
*.nodes
*.kmerdep
*.binkmer
*.clp
*.clps
*.reads
*.conf
*.bin
*.bai
*.lst
*.err
*.hdf
\#*.\#
apps/
merqury/**/*.fasta
**/*.meryl
